:root {
  --clr-white: hsl(0, 0%, 100%);

  --clr-300: hsl(212, 45%, 89%);
  --clr-500: hsl(216, 15%, 48%);
  --clr-900: hsl(218, 44%, 22%);

  --font-family: "Outfit", sans-serif;
  --font-base: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-weight: 400;
  font-size: var(--font-base);
  background-color: var(--clr-300);
  font-family: var(--font-family);

  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-container {
  width: 320px;
  background-color: var(--clr-white);
  padding: var(--font-base);
  border-radius: var(--font-base);
  text-align: center;
}

.img-container {
  border-radius: calc(var(--font-base)/2);
  overflow: hidden;
}

img {
  width: 100%;
  border-bottom-left-radius: calc(var(--font-base)/2);
  border-bottom-right-radius: calc(var(--font-base)/2);
}

.qr-details > h1 {
  margin: var(--font-base);
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--clr-900);
}

.qr-details > p {
  padding: 0.625rem;
  font-weight: 400;
  color: var(--clr-500);
}
